.qq-upload-progress {
  height: 6px;
  line-height: 2px;
  position: relative;
  width: 90%;
}
button.qq-upload-cancel {
  background-color: transparent;
  background-image: url("../img/stop_sign.png");
  background-position: center center;
  background-repeat: no-repeat;
  border-style: none;
  float: right;
  height: 24px;
  width: 24px;
}
.qq-upload-size {
	color:#333;
	text-shadow: 1px 1px 1px #fff;
}
.qq-upload-file {
	font-size:.8em;
  font-family: Arial;
}
.qq-upload-success .qq-upload-file {
  color: green;
}
.qq-upload-success {
  background-image: url("../img/success.png");
background-position: right center;
  background-repeat: no-repeat;
}

.qq-upload-fail {
  background-image: url("../img/exclamation_sign.png");
background-position: right center;
  background-repeat: no-repeat;
}

li {
	margin:4px;
	padding:6px;
	
	border-color:blue;
	border:solid;
}
#div-upload {
text-align:center;
    background-color: silver;
	margin:12px;
	width: 320px;
	border:thin solid;
}